body {
    margin: 0;
    padding: 0;
}

div {
    /* border:1px solid black; */
}

#container {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:auto;
    width:400px;
    height:600px;
}

#calc {
    margin:auto;
    display:flex;
    width:400px;
    height:500px;
    flex-wrap: wrap;
  
}

#display {
    flex:1 0 100%;
    border:1px solid black;
    text-align: center;
    padding-top: 100px;
    height: 100px;
    width:400px;
}

#calc div {
    border:1px solid black;
    flex: 1 0 20%;
    text-align: center;
    padding-top:50px;
}

.number:hover {
    background-color: rgb(237, 237, 237);
}

.number:active {
    background: rgb(225, 225, 225);
}

.calcfunc:hover {
    background: rgb(184, 228, 255);
}

.calcfunc:active {
    background: lightskyblue;
}

.equals:hover {
    background-color: rgb(255, 209, 118);
}

.equals:active {
    background-color: rgb(254, 197, 83);
}

#clear:hover {
    background-color: rgb(255, 140, 140);
}

#clear:active {
    background-color: rgb(255, 92, 92);
}